{
  "presets": ["es2015", "stage-3", "stage-0", "react"],
  "plugins": [
    [ "transform-decorators-legacy", "transform-regenerator" ]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}